<% object.items.each do |item| %>
  <tr>
    <td>x<%= item.quantity %></td>
    <td><%= item.description.capitalize %></td>
    <td><%= number_to_currency(item.price) %></td>
    <td><%= number_to_currency(item.subtotal) %></td>
    <td>
      <%= link_to 'Undo', item_add_path(:id => item, :bill_id => @bill), method: :post if @current_user == object.user %>
    </td>
  </tr>
<% end %>
