<div class="container">

  <div class="row">
    <div class="col col-12 center">
      <h3>Bill total:
        <%= number_to_currency(@current_cart.total) %></h3>
    </div>
  </div>

  <%= form_for @bill do |f| %>
  <div class="row">
    <div class="col col-7">
      <%= f.text_field :location, placeholder: 'Add Location', required: true %>
    </div>
    <div class="col col-5">
      <%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d') %>

    </div>
  </div>

  <div class="row">
    <div class="col col-12 center">
      <h3>Who paid?</h3>
    </div>
  </div>

  <% @current_cart.debts.each do |debt| %>
  <div class="card">
    <div class="col sm-col-12">
      <h4>
        <%= "#{debt.user.name} | #{debt.user.mobile}" %>        
        <%= radio_button_tag 'debt_id[]', debt.id, false, required: 'required', :class => "radio_button" %>
      </h4>
    </div>
  </div>
  <% end  %>

  <%= f.submit class: "btn" %>
  <% end %>
</div>
