<h1>Twilio practice</h1>

<%= form_for @user, url: '/twilio/send_text' do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </p>
  <p>
    <%= f.label :mobile %>
    <%= f.text_field :mobile, required: true %>
  </p>
  <p>
    <%= f.submit 'send sms' %>
  </p>

<% end %>
