<!DOCTYPE html>
<html>
<head>
  <title>Splittr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav>
  <%= link_to 'New Bill', cart_path(@current_cart) %> |
  <%= link_to 'Pay Bill', login_path unless @current_user %>
  <%= link_to 'Logout', logout_path, method: :delete if @current_user %>
  <br/>
  <%= link_to "Welcome back #{@current_user.name}", user_path(@current_user) if @current_user %>
</nav>

<div id="app">
  <%= yield %>
</div>

</body>
</html>
